{% extends 'selectivechat_app/base.html' %}
{% load staticfiles %}
{% block head %}
  <title>SelectiveChat - {{chat_name}}</title>
  <link rel="stylesheet" href="{% static 'selectivechat_app/chat.css' %}">
{% endblock %}
{% block body %}
  <button type="button" class="btn btn-light invite-link" data-toggle="modal" data-target="#exampleModal">
    Invite People
  </button>
  <div class="container">
    <h1 class="text-center text-white my-5">{{chat_name}}</h1>
    <div class="chatbox">
      <textarea id="chat-log" class="form-control" cols="100" rows="15" readonly></textarea>
      <div class="search-bar mt-3">
        <input id="chat-message-input" class="search-bar-input" placeholder="Enter message here" type="text" size="100"/>
        <input id="chat-message-submit" class="search-bar-submit" type="button" value="Send"/>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Invite People</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span>If you want to invite someone to this chat, just send them the link below, or send them the code below!</span>
          <div class="my-4"></div>
          <span class="invite">http://{{request.META.HTTP_HOST}}/chat/{{chat_id}}/</span>
          <div class="my-4"></div>
          <span class="invite">{{chat_id}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    if (!Notification) {
      alert('Desktop notifications not available in your browser. Try Chromium.');
      return;
    }

    if (Notification.permission !== 'granted')
      Notification.requestPermission();
    });


    function notifyMe(message) {
      if (Notification.permission !== 'granted')
        Notification.requestPermission();
      else {
        var notification = new Notification('SelectiveChat - New Message!', {
         icon: "{% static 'img/logo-cut.png' %}",
         body: message,
        });
        notification.onclick = function() {
         window.open(document.URL);
        };
      }
    }
    var textarea = document.querySelector("textarea");
      var roomName = {{ room_name_json }};

      // var chatSocket = new WebSocket(
      //     'ws://' + window.location.host +
      //     '/ws/chat/' + roomName + '/');
      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      var chatSocket = new WebSocket(ws_scheme + '://' + window.location.host + '/ws/chat/' + roomName + '/');
      console.log(ws_scheme + '://' + window.location.host + '/ws/chat/' + roomName + '/')

      chatSocket.onmessage = function(e) {
          var data = JSON.parse(e.data);
          var message = data['message'];
          document.querySelector('#chat-log').innerHTML += (message + '\n');
          notifyMe(message);
          textarea.scrollTop = textarea.scrollHeight;
      };

      chatSocket.onclose = function(e) {
          console.error('Chat socket closed unexpectedly');
      };

      document.querySelector('#chat-message-input').focus();
      document.querySelector('#chat-message-input').onkeyup = function(e) {
          if (e.keyCode === 13) {  // enter, return
              document.querySelector('#chat-message-submit').click();
          }
      };

      document.querySelector('#chat-message-submit').onclick = function(e) {
          var messageInputDom = document.querySelector('#chat-message-input');
          var message = messageInputDom.value;

          // Modifying message to add name to it
          message = "{{display_name}}: " + message

          chatSocket.send(JSON.stringify({
              'message': message
          }));

          messageInputDom.value = '';
      };
  </script>
{% endblock %}
