{% extends 'selectivechat_app/base.html' %}
{% load staticfiles %}
{% block head %}
  <title>SelectiveChat - Create Chat Room</title>
  <link rel="stylesheet" href="{% static 'selectivechat_app/chat.css' %}">
{% endblock %}
{% block body %}
  <div class="container py-5">
    <h1 class="text-center mb-3">Create a Chat Room</h1>
    <p class="text-center mb-4">
      Please enter in the name of what you want the chat room to be called.
    </p>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <div class="search-bar">
        <input class="search-bar-input" type="text" name="chat_name" placeholder="Chat Room Name">
        <input class="search-bar-submit" type="submit" value="Create Chat Room">
      </div>
    </form>
  </div>
{% endblock %}
