{% extends 'selectivechat_app/base.html' %}
{% load staticfiles %}
{% block head %}
  <title>SelectiveChat</title>
  <link rel="stylesheet" href="{% static 'selectivechat_app/index.css' %}">
{% endblock %}
{% block body %}
  <section class="header">
    <div class="center-container">
      <h1 class="f-65">SelectiveChat</h1>
      <h4>Communication is hard enough. SelectiveChat lets you commuicate with your friends with nothing more than an Internet connection. There is no need for an email, account, or profile.</h4>
      <div class="cta-buttons">
        <a href="/join-chat/" class="btn btn-outline-light">Join Chat Room!</a>
        <a href="/create-chat/" class="btn btn-light">Create Chat Room!</a>
      </div>
    </div>
  </section>
  <section class="what">
    <h1 class="f-50 text-center">What is SelectiveChat?</h1>
    <div class="what-grid mt-5">
      <img style="width: 50%; margin: auto;" src="{% static 'img/text.svg' %}">
      <p class="what-description">
        SelectiveChat is a web-based messaging application, where users can join any chatroom via link/code invite. This makes sure that no users need to have an account or an email to chat!
      </p>
    </div>
  </section>
  <section class="how-section">
    <h1 class="f-50 text-center">How Does SelectiveChat Work?</h1>
    <div class="how-grid">
      <div class="how">
        <span class="number">1.</span>
        <p class="mt-4">
          First, you must create a chat room if you have not been invited into a chat room. You must click on <a href="/create-chat/">Create Chat Room</a> to create a chat room and enter in the name of the chat room.
        </p>
      </div>
      <div class="how">
        <span class="number">2.</span>
        <p class="mt-4">
          You will then be prompted to enter in your display name. This is the the name that the other members of the chat room will be able to identify you as. This holds true if you are invited into a chat room as well.
        </p>
      </div>
      <div class="how">
        <span class="number">3.</span>
        <p class="mt-4">
          Finally, you can invite other people to your chat room! Simply click the "Invite People" button and send someone the link that they can simply click on. Or, you can send them the code and they can go to <a href="/join-chat/">Join Chat Room</a> and enter in the code given.
        </p>
      </div>
    </div>
  </section>
  <section class="contact text-center">
    <h1 class="header-primary">Let's get in touch!</h1>
    <p class="w-50 m-auto">
      We are happy to speak with you about any problems or feedback that you have! We guarantee a response within 24 hours!
    </p>
    <div class="my-4"></div>
    <a href="mailto:calix.huang1@gmail.com">
      <img style="width: 100px;" class="mail-icon" src="{% static 'img/mail.png' %}" alt="Mail Icon">
    </a>
    <br>
    <a class="email-link" href="mailto:grocerymeals.team@gmail.com">calix.huang1@gmail.com</a>
  </section>
{% endblock %}
